# SHARK TRADER - LIVE API KEYS
# Nabavi svoje ključeve na Binance -> API Management
# NIKADA ne dijeli ovaj fajl s drugima!

BINANCE_API_KEY=TVOJ_API_KEY_OVDJE
BINANCE_SECRET_KEY=TVOJ_SECRET_KEY_OVDJE
